.task {
    text-align: center;
    width: 100%;
    max-width: 46rem;
    margin: 1.3rem auto;


    form {
        gap: 0.5rem;
        padding: 0;

        input {
            height: 3.68rem;
            width: 39.87rem;
            padding: 1rem;
    
            background: var(--gray-400);
            color: var(--white);
    
            border: 1px solid var(--gray-800);
            border-radius: 0.5rem;
    
            flex: none;
            order: 0;
            flex-grow: 1;
        }

        button {
            background: var(--danger);
            margin-left: 0.5rem;
            height: 3.68rem;
            width: 5.62rem;
            color: var(--white);
            border: none;
            border-radius: 0.5rem;

            flex: none;
            order: 1;
            flex-grow: 0;
        }

        button:hover {
            filter: brightness(90%) opacity(1.5);
            transition: 0.7s;
        }
        
    }


}