:root {
  --white: #fff;
  --gray-100: #e1e1e6;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-600: #1A1A1A;
  --gray-700: #262626;
  --gray-800: #0D0D0D;
  --gray-900: #121214;
  --gray-input: #898de7;

  --green-500: #00875f;
  --gray-input: #6fcf97;
  --gray-background: #282A36;

  --purple: #8284FA;
  --purple-dark: #5E60CE;

  --blue: #4EA8DE;
  --blue-dark: #1E6F9F;
  --blue-primary: #aad7ff;
  --blue-input: #353662;

  --pink: #fd689f;
  --danger: #E25858;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--gray-background);
	color: var(--gray-300);
	-webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1rem;
}