.header {
    background-color: var(--gray-900);
    height: 12.5rem;
    width: 100%;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 4.5rem
    }
}